@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
body {
    -webkit-text-size-adjust: none;
}
#header{
    background: #222629 url("images/overlay.png");
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.row>* {
    box-sizing: border-box;
}

@media screen and (min-width: 961px) and (max-width: 1880px) {
    .row>* {
        box-sizing: border-box;
    }
    
@media screen and (min-width: 961px) and (max-width: 1320px) {
        .row>* {
            box-sizing: border-box;
        }
        /* Header */
        #header {
            background: #222629 url("images/overlay.png");
            box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
            color: #fff;
        }
        #header .icons {
            font-size: 0.8em;
        }
 @media screen and (min-width: 961px) and (max-width: 1880px) {
            body {
                font-size: 17pt;
            }
            /*mobile*/
@media screen and (max-width: 736px) {
                /* Basic */
                body, input, textarea, select {
                    font-size: 14pt;
                }